@media screen and (min-width: 1920px) {
  .page {
    width: 1920px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1919px) {
  .page {
    /* width: 1000px;
    margin: 0 auto; */
  }
  .gallery img {
    width: 100%;
  }
  .cards {
    /* flex-wrap: wrap; */
  }
  .footer {
    flex-wrap: wrap;
  }
  .left_part {
    width: 60%;
  }
  .right_part {
    width: 40%;
  }
  .left_part img {
    padding-left: 20%;
    width: 80%;
  }
  .left_part p {
    margin-top: -20px;
  }
  .cards {
    /* flex-wrap: wrap; */
  }
  .cards > div {
    margin-bottom: 30px;
    justify-content: space-evenly;
  }
  .right_footer iframe {
    width: 940px;
    height: 400px;
  }
  .adress,
  .network,
  .time_work {
    font-size: 25px;
  }
}

@media screen and (max-width: 999px) {
  .page {
    /* width: 800px;
    margin: 0 auto; */
  }
  .header {
    /* width: 100%; */
    height: 100px;
  }
  .logo img {
    /* width: 100%; */
    height: 100px;
  }
  .nav-link {
    padding: 10px;
    font-size: 18px;
  }
  .navigation {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000;
  }
  .nav li {
    list-style: none;
    padding-right: 5px;
  }

  /* GALLERY */

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .gallery img {
    width: 95%;
    padding: 0px;
    padding-bottom: 20px;
  }
  .leftimg1 {
    order: 1;
    display: flex;
    justify-content: center;
    transform: translateX(-100%);
    animation: leftimg1 3s linear 1 forwards;
  }
  .rightimg1 {
    order: 2;
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    animation: rightimg1 3s linear 1 forwards;
  }
  .leftimg2 {
    display: flex;
    align-items: center;
    transform: translateX(-100%);
    animation: leftimg2 2s linear 1 forwards;
  }
  .rightimg2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(100%);
    animation: rightimg2 2s linear 1 forwards;
  }
  @keyframes leftimg1 {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes leftimg2 {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes rightimg1 {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes rightimg2 {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  /* services */

  .services {
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
  }
  .left_part {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    height: 600px;
    position: relative;
  }
  .left_part img {
    padding: 10px;
    width: 60%;
  }
  .left_part p {
    font-size: 20px;
    margin-top: 0px;
  }
  .right_part {
    width: 100%;
    display: block;
    position: relative;
  }
  .right_part img {
    width: 100%;
  }
  .left_foto1 {
    position: absolute;
    top: 0;
    left: 0;
    animation: left_foto1 25s linear infinite;
  }
  .left_foto2 {
    position: absolute;
    top: 0;
    left: 50%;
    animation: left_foto2 25s linear infinite;
  }
  .left_foto3 {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: left_foto3 25s linear infinite;
  }
  .left_foto4 {
    position: absolute;
    top: 50%;
    left: 0;
    animation: left_foto4 25s linear infinite;
  }
  @keyframes left_foto1 {
    from {
      top: 0;
      left: 0;
    }
    25% {
      top: 0;
      left: 50%;
    }
    50% {
      top: 50%;
      left: 50%;
    }
    75% {
      top: 50%;
      left: 0;
    }

    to {
      top: 0;
      left: 0;
    }
  }
  @keyframes left_foto2 {
    from {
      top: 0;
      left: 50%;
    }
    25% {
      top: 50%;
      left: 50%;
    }
    50% {
      top: 50%;
      left: 0;
    }
    75% {
      top: 0;
      left: 0;
    }

    to {
      top: 0;
      left: 50%;
    }
  }
  @keyframes left_foto3 {
    from {
      top: 50%;
      left: 50%;
    }
    25% {
      top: 50%;
      left: 0;
    }
    50% {
      top: 0;
      left: 0;
    }
    75% {
      top: 0;
      left: 50%;
    }

    to {
      top: 50%;
      left: 50%;
    }
  }
  @keyframes left_foto4 {
    from {
      top: 50%;
      left: 0;
    }
    25% {
      top: 0;
      left: 0;
    }
    50% {
      top: 0;
      left: 50%;
    }
    75% {
      top: 50%;
      left: 50%;
    }

    to {
      top: 50%;
      left: 0;
    }
  }

  /* TEAM */
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .foto img {
    width: 100%;
  }
  .team {
    margin-top: 100px;
  }
  .cards > div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .foto:hover {
    filter: brightness(100%);
  }

  .foto {
    filter: brightness(50%);
    position: relative;
    margin-bottom: 20px;
  }
  .foto:hover .name1 {
    height: 200px;
    bottom: 0px;
  }
  .name1 {
    width: 100%;
    height: 0px;
    bottom: 0px;
    font-size: 38px;
  }
  .foto:hover .name2 {
    height: 200px;
    bottom: 0px;
  }
  .name2 {
    width: 100%;
    height: 0px;
    bottom: 0px;
    font-size: 38px;
  }
  .foto:hover .name3 {
    height: 200px;
    bottom: 0px;
  }
  .name3 {
    width: 100%;
    height: 0px;
    bottom: 0px;
    font-size: 38px;
  }
  .foto:hover .name4 {
    height: 200px;
    bottom: 0px;
  }
  .name4 {
    width: 100%;
    height: 0px;
    bottom: 0px;
    font-size: 38px;
  }

  /* FOOTER */

  .footer {
    margin-top: 50px;
    display: block;
    text-align: center;
  }
  .left_footer {
    padding-right: 0px;
    padding-left: 0px;
  }
  .left_footer > div {
    display: flex;
    justify-content: center;
  }
  .left_footer h2 {
    font-size: 50px;
  }
  .form {
    width: 770px;
    height: 370px;
  }
  .up_form input {
    width: 280px;
    height: 55px;
    font-size: 26px;
  }
  .right_footer {
    padding-left: 15px;
  }
  .form label ::placeholder {
    font-size: 26px;
    font-weight: 700;
    padding: 20px;
  }
  textarea {
    width: 670px;
    height: 200px;
    font-size: 26px;
  }
  .right_footer {
    margin-top: 25px;
  }
  .right_footer iframe {
    width: 770px;
    height: 370px;
  }
  .contacts {
    height: 250px;
    margin-top: 50px;
    display: block;
    text-align: center;
  }
  .time_work {
    padding-top: 50px;
  }
  .network {
    padding-top: 50px;
  }
  .network > div {
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    /* max-width: 768px; */
  }
  .header {
    /* width: 100%; */
    height: 100px;
  }
  .logo img {
    /* width: 100%; */
    height: 100px;
  }
  .nav-link {
    padding: 5px;
    font-size: 20px;
  }
  .nav {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000;
  }
  .nav li {
    padding-right: 0px;
  }

  /* GALLERY */

  .gallery {
    display: block;
    margin-top: 50px;
    /* text-align: center; */
  }
  .fon_foto {
    display: block;
  }
  .gallery img {
    width: 70%;
    margin: 0 auto;
  }
  .leftimg1 {
    transform: translateX(-100%);
    animation: leftimg1 1s linear 1 forwards;
  }
  .rightimg1 {
    transform: translateX(100%);
    animation: rightimg1 4s linear 1 forwards;
  }
  .leftimg2 {
    transform: translateX(100%);
    animation: leftimg2 2s linear 1 forwards;
  }
  .rightimg2 {
    transform: translateX(-100%);
    animation: rightimg2 3s linear 1 forwards;
  }
  @keyframes leftimg1 {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes leftimg2 {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes rightimg1 {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes rightimg2 {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  /* services */

  .services {
    margin-top: 50px;
    display: flex;
    position: relative;
  }
  .left_part {
    text-align: center;
  }
  .left_part img {
    padding: 15px;
    width: 55%;
  }
  .left_part p {
    font-size: 20px;
    margin-top: 0px;
  }
  .right_part {
    display: none;
  }
  .left_foto1 {
    position: absolute;
    top: 0;
    left: 0;
    animation: left_foto1 25s linear infinite;
  }
  .left_foto2 {
    position: absolute;
    top: 0;
    left: 50%;
    animation: left_foto2 25s linear infinite;
  }
  .left_foto3 {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: left_foto3 25s linear infinite;
  }
  .left_foto4 {
    position: absolute;
    top: 50%;
    left: 0;
    animation: left_foto4 25s linear infinite;
  }
  @keyframes left_foto1 {
    from {
      top: 0;
      left: 0;
    }
    25% {
      top: 0;
      left: 50%;
    }
    50% {
      top: 50%;
      left: 50%;
    }
    75% {
      top: 50%;
      left: 0;
    }

    to {
      top: 0;
      left: 0;
    }
  }
  @keyframes left_foto2 {
    from {
      top: 0;
      left: 50%;
    }
    25% {
      top: 50%;
      left: 50%;
    }
    50% {
      top: 50%;
      left: 0;
    }
    75% {
      top: 0;
      left: 0;
    }

    to {
      top: 0;
      left: 50%;
    }
  }
  @keyframes left_foto3 {
    from {
      top: 50%;
      left: 50%;
    }
    25% {
      top: 50%;
      left: 0;
    }
    50% {
      top: 0;
      left: 0;
    }
    75% {
      top: 0;
      left: 50%;
    }

    to {
      top: 50%;
      left: 50%;
    }
  }
  @keyframes left_foto4 {
    from {
      top: 50%;
      left: 0;
    }
    25% {
      top: 0;
      left: 0;
    }
    50% {
      top: 0;
      left: 50%;
    }
    75% {
      top: 50%;
      left: 50%;
    }

    to {
      top: 50%;
      left: 0;
    }
  }

  /* TEAM */

  .cards {
    width: 100%;
    display: flex;
  }
  .cards > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .foto img {
    width: 100%;
  }

  .foto:hover {
    filter: brightness(100%);
  }

  .foto {
    filter: brightness(50%);
    position: relative;
    margin-bottom: 20px;
  }
  .foto:hover .name1 {
    height: 200px;
    bottom: 0px;
  }
  .name1 {
    width: 100%;
    height: 0px;
    bottom: 0px;
    font-size: 48px;
  }
  .foto:hover .name2 {
    height: 200px;
    bottom: 0px;
  }
  .name2 {
    width: 100%;
    height: 0px;
    bottom: 0px;
    font-size: 48px;
  }
  .foto:hover .name3 {
    height: 200px;
    bottom: 0px;
  }
  .name3 {
    width: 100%;
    height: 0px;
    bottom: 0px;
    font-size: 48px;
  }
  .foto:hover .name4 {
    height: 200px;
    bottom: 0px;
  }
  .name4 {
    width: 100%;
    height: 0px;
    bottom: 0px;
    font-size: 48px;
  }
  /* FOOTER */

  .footer {
    margin-top: 50px;
    display: block;
    text-align: center;
  }
  .left_footer {
    padding-right: 0px;
  }
  .left_footer > div {
    display: flex;
    justify-content: center;
  }
  .left_footer h2 {
    font-size: 50px;
  }
  .form {
    width: 550px;
    height: 300px;
  }
  .up_form input {
    width: 220px;
    height: 40px;
    font-size: 26px;
  }
  .right_footer {
    padding-left: 20px;
  }
  .form label ::placeholder {
    font-size: 26px;
    font-weight: 700;
    padding: 20px;
  }
  textarea {
    width: 500px;
    height: 150px;
    font-size: 26px;
  }
  .right_footer {
    margin-top: 25px;
  }
  .right_footer iframe {
    width: 550px;
    height: 330px;
  }
  .contacts {
    height: 250px;
    margin-top: 50px;
    display: block;
    text-align: center;
  }
  .time_work {
    padding-top: 50px;
  }
  .network {
    padding-top: 50px;
  }
  .network > div {
    margin-left: 0px;
  }
  /* .gallery_foto1 {
    display: none;
  } */
}
